<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<false/>
				<key>PluginType</key>
				<true/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<false/>
				<key>CStates</key>
				<false/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
		</array>
		<key>#DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>CpuPm</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Cst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Ist</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>ApCst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>ApIst</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>FixHeaders</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI, pair with SSDT-XOSI.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU, optionally pair with SSDT-IGPU.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Rename B0D3 to HDAU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change HDAS to HDEF, optionally pair with SSDT-HDEF.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QVpBTA==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<true/>
					<key>Comment</key>
					<string>change AZAL to HDEF, optionally pair with SSDT-HDEF.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI, optionally pair with SSDT-IMEI.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TUVJXw==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change MEI to IMEI, optionally pair with SSDT-IMEI.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change SAT0 to SATA, optionally pair with SSDT-SATA.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW, pair with SSDT-GPRW.aml</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>oAqTU1RBUwE=</data>
					<key>Replace</key>
					<data>oAqRCv8L//8=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>fix RTC _STA bug</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<false/>
				<key>FixAirport</key>
				<true/>
				<key>FixHDA</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>AddHDMI</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
			</dict>
			<key>DropOEM_DSM</key>
			<dict>
				<key>USB</key>
				<false/>
				<key>SmBUS</key>
				<false/>
				<key>ATI</key>
				<false/>
				<key>HDMI</key>
				<false/>
				<key>LAN</key>
				<false/>
				<key>IntelGFX</key>
				<false/>
				<key>WIFI</key>
				<true/>
				<key>LPC</key>
				<false/>
				<key>Firewire</key>
				<false/>
				<key>IDE</key>
				<false/>
				<key>NVidia</key>
				<false/>
				<key>HDA</key>
				<false/>
				<key>SATA</key>
				<false/>
			</dict>
		</dict>
		<key>AutoMerge</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>NoEarlyProgress</key>
		<false/>
		<key>NeverHibernate</key>
		<false/>
		<key>CustomLogo</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>#DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>dart=0 kext-dev-mode=1 nv_disable=1 slide=0 alcid=3</string>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>Timeout</key>
		<integer>5</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Language</key>
		<string>zh-Hant:-16899</string>
		<key>PlayAsync</key>
		<true/>
		<key>Hide</key>
		<array>
			<string>recovery</string>
			<string>reboot</string>
		</array>
		<key>ConsoleMode</key>
		<string>0</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>#ScreenResolution</key>
		<string>1024x768</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>EmbeddedThemeType</key>
		<string>Daytime</string>
		<key>Theme</key>
		<string>blackMojave</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>SetIntelBacklight</key>
		<false/>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<string>No</string>
		</dict>
		<key>SetIntelMaxBacklight</key>
		<true/>
		<key>IntelMaxValue</key>
		<string>0xFFFF</string>
		<key>UseIntelHDMI</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x1f,3)</key>
			<dict>
				<key>layout-id</key>
				<integer>6</integer>
				<key>#hda-gfx</key>
				<string>onboard-1</string>
				<key>#no-controller-patch</key>
				<integer>1</integer>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>AwAAAA==</data>
				<key>model</key>
				<string>Cannon Lake PCH cAVS</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>Audio device</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>CQClPg==</data>
				<key>model</key>
				<string>Intel UHD Graphics 630 (Mobile)</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device_type</key>
				<string>VGA compatible controller</string>
			</dict>
		</dict>
		<key>HDMIInjection</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>NvidiaGeneric</key>
		<false/>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelLapic</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
		</array>
		<key>#ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>Replace</key>
				<data>igKEwOtE</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit vit9696)</string>
				<key>MatchOS</key>
				<string>10.13.x</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>Replace</key>
				<data>igKEwOtC</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>MatchOS</key>
				<string>10.14.x</string>
			</dict>
		</array>
		<key>#Kaby Lake-Comment</key>
		<string>Kaby Lake CPU supportable on 10.12.5 and prior by using CPUID from Skylake</string>
		<key>KernelPm</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>#FakeCPUID</key>
		<string>0x0506e3</string>
		<key>KernelCpu</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<data>ESrXlz/R</data>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>Board-ID</key>
		<string>Mac-827FB448E656EC26</string>
		<key>Trust</key>
		<true/>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MBP152.88Z.F000.B00.2007121439</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x32</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02912108CDJH4R1M</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro15,2</string>
		<key>SmUUID</key>
		<string>1E58E5DA-FF3B-44AA-8530-107A62973FD1</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>1539.0.0.0.1</string>
		<key>SerialNumber</key>
		<string>C02YG03JJHCC</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>07/12/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>NvidiaWeb</key>
		<true/>
		<key>CustomUUID</key>
		<string>2B19DBF4-3DC8-4F6F-B0C0-073969EDDF42</string>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>